<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Smartbox Team Version</h4>
                        <p class="card-category">Are you looking for more features? Feel free to upgrade to our Enterprise version.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center">Team</th>
                                        <th class="text-center">Enterprise</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Exams/Year</td>
                                        <td class="text-center">60</td>
                                        <td class="text-center">200</td>
                                    </tr>
                                    <tr>
                                        <td>Customized Questions</td>
                                        <td class="text-center">10</td>
                                        <td class="text-center">15</td>
                                    </tr>
                                    <tr>
                                        <td>Recruiters</td>
                                        <td class="text-center">3</td>
                                        <td class="text-center">5</td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td class="text-center">70$</td>
                                        <td class="text-center">100$</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="javascript:void(0)" class="btn btn-round btn-fill btn-default disabled">Current Version</a>
                                        </td>
                                        <td class="text-center">
                                            <a target="_blank" href="" class="btn btn-round btn-fill btn-info">Upgrade to Enterprise</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
