<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.qodexia.fr/">
                        Qodexia
                    </a>
                </li>
                <li>
                    <a href="https://www.qodexia.fr/#apropos">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.qodexia.fr/contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="https://www.qodexia.fr/" target="_blank">QODEXIA</a> .
        </div>
    </div>
</footer>
